.custom-card {
  width: 500px;
  padding: 50px;

  border-radius: 40px;

  background: rgba(20, 26, 55, 0.65);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.35);
}